*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/background_2.svg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.top_title{

    animation: top 1s ease-in forwards;
}

.bottom__section{
    animation: bottom 1s ease-out forwards ;
    
    margin-top: 20px;
}

.bottom__section--button{
    background-color: cadetblue;
    border-color: #1D177C;

    &:hover{
        background-color: darkcyan;
    }

    

}

.bottom__section--input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    &::placeholder {
        color: white;
        opacity: 0.5;
    }
}

@keyframes top {
    0%{
        padding: 0;
        opacity: 0;
    }

    100%{
        padding: 5% 0 0 10%;
        
    }
}

@keyframes bottom {
    0%{
        left: 0;
        opacity: 0;
    }

    100%{
        left: 10%;
    }
}